{% include "header.html" %}
				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{ url_for('home') }}">Home</a></li>
							{% if current_user.id == 1 %}
							<li><a href="{{ url_for('create_post') }}">Create Post</a></li>
							{% endif %}
							<li><a href="{{ url_for('about') }}">About me</a></li>
							{% if not current_user.is_authenticated: %}
							<li><a href="{{ url_for('login') }}">Log in</a></li>
							<li><a href="{{ url_for('register') }}">Register</a></li>
							{% else: %}
							<li><a href="{{ url_for('logout') }}">Log out</a></li>
							{% endif %}
						</ul>
								<ul class="icons alt">
									<li><a href="https://www.twitter.com" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/scur-o" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<span class="date">{{post.date}}</span>

									<h1 class="title">{{ post.title }}</h1>
									<br>
									<p class="subtitle">{{post.subtitle}}</p>


								</header>
								<div class="image main"><img src="{{post.img_url}}" alt="" /></div>
								<p class="post-body">{{ post.body|safe }}</p>
							</section>

					</div>


				<footer id="footer">
						<section class="post">
							<h2> Comment </h2>
							<br>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="comment">comment</label>
										<textarea class='comment-box' name="comment" id="comment" rows="5"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Submit Comment" /></li>
								</ul>
							</form>


						{% if post.comments %}
							<br>

							{% for comment in post.comments[::-1]: %}
							<div class="comment">

								<img class="commenterImage" src="{{ comment.comment_author.email | gravatar }}" />
								<label>{{comment.comment_author.name}} <br>{{ comment.date }}</label>
								<br>
								<p>
									{{ comment.text|safe }}
								</p>
								<br>
							</div>
							{% endfor %}
							</section>
				</footer>



				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Oscar Yip 2022</li><li>Design: <a href="">HTML5 UP</a></li></ul>
					</div>



						{% endif %}
		<!-- Scripts -->
	<script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/jquery.scrollex.min.js"></script>
	<script src="static/assets/js/jquery.scrolly.min.js"></script>
	<script src="static/assets/js/browser.min.js"></script>
	<script src="static/assets/js/breakpoints.min.js"></script>
	<script src="static/assets/js/util.js"></script>
	<script src="static/assets/js/main.js"></script>
